<footer class="user_new_footer">
  <div class="foot_wrap">
    <ul>
      <li><a href="">プライバシーポリシー</a></li>
      <li><a href="">メルカリ利用規約</a></li>
      <li><a href="">特定商取引に関する表記</a></li>
    </ul>
    <a href="">
      <img src="/images/logo-gray-user-new.svg" alt="logo-gray" width="80" height="65">
    </a>
    <p>©️ 2019 Mercari</p>
  </div>
</footer>