<div class="title">
  <a class="icon" href="/">
    <img src="https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg" alt="Mercari" class="merukari-icon" width="193" height="49">
  </a>
  <table>
    <tr>
      <td>会員情報</td>
      <td>電話番号認証</td>
      <td>お届け先住所入力</td>
      <td>支払い方法</td>
      <td>完了</td>
    </tr>
    <tr>
      <td>●</td>
      <td>●</td>
      <td>●</td>
      <td>●</td>
      <td>●</td>
    </tr>
  </table>
  <div class="border">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
  </div>
</div>