body.item_show_wrap {
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;


@media screen and (min-width: 1068px){
.l-single-container {
   margin: 40px auto 0;
   width: 1020px;
}
}
@media screen and (min-width: 768px){
.l-single-container {
  width: 700px;
  margin: 40px auto 0;
}
}

@media screen and (min-width: 1068px){
.l-content {
  margin: 40px auto 0;
}
}
@media screen and (min-width: 768px){
.l-content {
  width: 700px;
  margin: 40px 0 0 0;
}
}
@media screen and (min-width: 768px){
.item-box-container {
  padding: 24px 40px 40px;
  background: #fff;
  margin: 40px auto 0;
}
}
@media screen and (min-width: 480px){
.item-box-container {  
  padding: 24px 40px 40px;
  background: #fff;
  margin: 40px auto 0;
}
}
.item-box-container {
  .item-name {
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
    font-weight: bold;
  } 
  .item-wording {
    margin: 8px 0 0;
    font-size: 14px;
    color: #888;
    line-height: 1.5;
    a {
      color: #888;
    }
  }
  @media screen and(min-width: 768px){
  .item-main-content {
    margin: 16px 0 0;
  }
  }
  @media screen and(min-width: 480px){
  .item-main-content {
    margin: 16px 0 0;
  }
  }
  .item-main-content:after {
    display: block;
    content: "";
    clear: both;
  }
  @media screen and (min-width: 768px){
    .item-photo {
      float: left;
      min-width: 300px;
      max-width: 300px;
      min-height: 375px;
      background-color: #fafafa;
    }
  }
  @media screen and (min-width: 480px){
    .item-photo {
      margin: 0 auto;
      min-width: 300px;
      max-width: 300px;
      min-height: 375px;
      background-color: #fafafa;
    }  
  }
  .owl-stage-outer {
    position: relative;
    overflow: hidden;
  }
  .owl-stage {
    position: relative;
  }
  .owl-item {
    min-height: 1px;
    float: left;
  }
  .owl-carousel{
    position: relative;
    .owl-item-inner {
      position: relative;
      width: 100%;
      height: 0;
      padding: 0 0 100%;
      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: auto;
        margin: auto;
      }
    }
  }
  .owl-nav {
    display: none;
  }
  .owl-prev {
    display: none;
  }
  .owl-next {
    display: none;
  }
  .owl-dots {
    width: 300px;
    height: 60px;
    display: flex;
  }
  .owl-dot {
    width: 60px;
    height: 60px;
    img {
      .is-higher-height {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(0, -50%);
      }
    }
  }
  .owl-dot-inner {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
  }
  @media screen and (min-width: 768px){
    .item-detail-table {
      float: right;
      max-width: 300px;
      height: 420px;
      margin: 0 auto;
    }
  }
  @media screen and (min-width: 480px){
    .item-detail-table {
      max-width: 300px;
      height: 420px;
      margin: 8px auto 0;
    }
  }

  tbody {
    vertical-align: middle;
  }
  th {
    width: 39%;
    text-align: left;
    font-weight: 400;
    background: #fafafa;
    padding: 0 0 0 10px;
    vertical-align: middle;
  }
  td {
    width: 61%;
    background: #fff;
    border-collapse: collapse;
    border: 1px solid #f5f5f5;
    vertical-align: middle;
    padding: 0 0 0 5px;
  }
  a {
    color: #0099e8;
    text-decoration: none;
  }
  .item-user-ratings-good {
    margin: 0;
    display: inline-block;
  }
  .fas {
    font-size: 16px;
    vertical-align: middle;
  }
  .item-user-ratings {
    margin: 8px 0 0 16px;
    display: inline-block;
  }
  .fa-laugh {
    color: #ef5185;
  }
  .fa-meh {
    color: #fba933;
  }
  .fa-frown {
    color: #6ab5d8;
  }

  .item-price-box {
    margin: 24px 0 0;
    text-align: center;
    
  }
  .visible-sp {
    display: none
  }
  .item-price {
    margin: 0 16px 0 0;
    font-size: 50px;
  }
  .item-tax {
    font-size: 10px;
  }
  .item-shipping-fee {
    display: inline-block;
    font-size: 16px;    
  }
  .item-buy-btn {
    display: block;
    margin-top: 16px;
    background: #ea352d;
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    height: 60px;
    line-height: 60px;
  }

  .shipping-not-allowed-message {
    margin-top: 16px;
    text-align: center;
  }
}
.has-error-text {
  color: #ea352d;
  line-height: 1.5;
  font-size: 14px;
}
[data-toggle='open-app'] {
  display: none;
}
.item-description {
  padding: 32px 0 0;
  line-height: 1.5;
  font-size: 18px;
  text-align: match-parent;
}
.item-description-inner {
  white-space: pre-wrap;
  text-align: left;
}
.item-button-container {
  margin: 16px 0 0;
  i {
    font-size: 14px;
    vertical-align: middle;
  }
  span {
    font-size: 14px;
  }
}
.item-button-left {
  float: left;
}
.item-button-like {
  color: #333;
  border: 1px solid #f5f5f5;
  background: #f5f5f5;
}
.item-button {
  padding: 8px 16px;
  border-radius: 40px;
}
.fa-heart {
  color: #ccc;
}
.item-button-report {
  margin: 0 0 0 16px;
  color: #333;
  background: #f5f5f5;
}
.item-button-right {
  float: right;
}


.active {
  opacity: 1;
  cursor: default;
}
.bold {
  font-weight: 600;
}

}
.breadcrumbs-bottom {
  border-top: 1px solid #eee;
 .breadcrumbs {
   margin: 0 auto;
   font-size: 14px;
 }  
}
.contents-row {
  width: 100%;
  background-color: #f5f5f5;
  margin: 30px 0 0 0;
  &__container {
    margin: 0 auto;  
    padding: 12px 40px;
    font-size: 0.9rem;
    background-color: #fff; 
    text-align: center;   
    .link_to_edit-btn {
      width: 100%;
      margin:16px 0;
      line-height: 50px;
      color: white;
      background-color: rgb(231, 41, 41);
      display: block;
    } 
    .text-danger {
      .delete-btn {
        width:100%;
        margin: 16px 0;
        line-height: 50px;
        color: white;
        text-align: center;
        background-color:#afafaf;
        display: block;
      }  
    }
  }    
}

.comment-form {
  width: 100%;
  background-color: #f5f5f5;
  margin: 30px 0;
  &__container {
    margin: 0 auto;  
    background-color: #fff; 
    padding: 12px 40px;
    .attention {
      background-color: #fff6de;
      padding: 8px; 
    }  
    textarea.textarea-default {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;  
      margin: 8px 0 0; 
      padding: 10px;
      display: block;
      height: 100px;
      color: #afafaf;
    }
    input {
      width:100%;
      margin: 8px 0 0;
      padding: 15px;
      color: white;
      text-align: center;
      background-color:#afafaf;
      display: block;  
    }
  }  
}