

.top-content-image-picture{
  background-position: center;
  background-image: url(https://web-jp-assets.mercdn.net/_next/static/images/top-banner-camp-4f3fd88c685e8932d7dde2ad3a8336ba.jpg);
  height:390px;
  position: relative;
}

.left-arrow{
  background-image: url(https://web-jp-assets.mercdn.net/_next/static/images/carousel-prev-af7ca886ce42c4c02610cd15421ddcad.png);
  height:50px;
  background-repeat: no-repeat;
  width:50px;
  position: absolute;
  top:160px;
}

.right-arrow{
  background-image: url(https://web-jp-assets.mercdn.net/_next/static/images/carousel-next-bc3a1438a1435e953bc67d720cd05c61.png);
  height:50px;
  background-repeat: no-repeat;
  width:50px;
  position: absolute;
  top:160px;
  right:0px;
}

.items_index_wrapper {
  margin: 0 0 60px;

.sample {
  width: 100px;
}


  .main {
  }

a {
  text-decoration: none ;
  color: inherit;

}
h2 {
  font-size: 28px;
  margin-bottom: 16px;
  font-weight: 600;
}
.cat {
  padding: 56px 0px 30px;
  height: 85px;
  background-color: rgb(255, 255, 255);
  left: 50%;
  margin-left: -50vw;
  text-align: center;
  position: relative;
  top: 0px;
  width: 100vw;
  @media (max-width: 768px) {
    margin: 0;
    position: static;
  }

  &__box {
    border-radius: 20px;
    position: relative;
    .nav {
      text-align: center;
      margin: -10px 0px 0px -10px;
    }
    .nav-list {
      margin: 10px 0px 0px 10px;
      display: inline-block;
      background-color: rgb(245, 245, 245);
      font-weight: 600;
      border-radius: 15px;
      padding: 0 12px;
      font-size:14px;
      height: 30px;
      line-height: 30px;

    }
  }
}
.wrap {
  margin: 0 auto;
  @media (max-width: 768px) {
    width: 95%;
  }
  @media (min-width: 768px) {
    width: calc(700px);
  }
  @media (min-width: 1068px) {width: calc(1040px);}
}
.women-group {
  margin: 0 0 40px;

  &__title {
    justify-content: space-between;
    margin-bottom: 16px;
    display: flex;
    font-weight: 400;
    padding-top: 42px;
    font-weight: 600;
    .group-new {
      font-size: 24px; 
      font-weight: 600;
    }
    a {
        font-size: 14px;
        padding: 5px 16px 5px 5px;
        color:rgb(0, 149, 238);

    }
  }
}
.card-section{
  margin: -10px;
  .card-list {
    @media (min-width: 768px) {width: calc(720px);}
    @media (min-width: 1068px) {width: calc(1040px);}
    flex-wrap: wrap;
    display: flex;
  }
  .card-text {
    font-size: 14px;
    margin: -6px 0 0;
    padding: 12px;
    @media (min-width: 768px) {width: calc(122px - 24px);}
    @media (min-width: 1068px) {width: calc(188px - 24px);}
    height: 40px;
    background-color:rgb(255, 255, 255);
    overflow-wrap: normal;
    p {
      display: inline-block;
      height: 40px;
      line-height: 20px;
      overflow: hidden;
    }
  }
  li.card-item {
    position: relative;
    margin: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.4);
    @media (max-width: 768px) {
      width: calc(31.5%);
      height: 30%;
    }

    @media (min-width: 768px) {
      img {
        width: 122px;
        height: 122px;
      }
    }
    @media (min-width: 1068px) {
      img {
        width: 188px;
        height: 188px;
      }
    }

    .A {
      position:absolute;
      bottom: 70px;
      left: 0px;
      font-size: 20px;
      background: rgba(0,0,0,.4);
      color: #fff;
      border-radius: 0 14px 14px 0;
      font-size: 17px;
      height: 28px;
      letter-spacing: .02em;
      padding: 0 12px;
      align-items: center;
    }
  }

  @media (max-width: 768px) {
    li:nth-of-type(10) {
      display: none;
    }
  }
}
}