<li class="card-item">
  <%= image_tag item.images[0].image, class: 'hoge', size: '188x188' %>
    <h3 class="A">¥1,200</h3>
  <figcaption class="card-text">
    <%= item.description %>
  </figcaption>
</li>
