<div class="new-item">
  <div class="new-item__top">
    <div class="new-item__top__icon">
      <%= link_to root_path do %>
        <img src="https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg" alt="Mercari" class="merukari-icon">
      <% end %>
    </div>
  </div>
  <div class="new-item__main">
    <div class="new-item__main__title">
      商品の情報を編集
    </div>
    <div class="new-item__main__input">
      <%=render partial: 'items/form'%>
    </div>
  </div>
</div>

<style type='text/css'>
.header, .footer-wrapper {
  display: none;
}
</style>
<script>
$(".submit-btn").val("変更する");
$(".submit-btn").attr("data-disable-with","処理中");
$(".return-btn").text("キャンセル");
$(".return-btn").attr("href", "/items/<%=@item.id%>");
$("form.edit_item").prepend(`<input type="hidden" name="_method" value="patch">`);
$('.image_preview_wrap .file_button').text('追加する画像を選択');
</script>