<div class="new-item">
  <div class="new-item__top">
    <div class="new-item__top__icon">
      <%= link_to root_path do %>
        <img src="/images/fmarket_icon/fmarket_logo_red.svg" alt="Mercari" class="merukari-icon">
      <% end %>
    </div>
  </div>
  <div class="new-item__main">
    <div class="new-item__main__title">
      商品の情報を入力
    </div>
    <div class="new-item__main__input">
      <%=render partial: 'items/form'%>
    </div>
  </div>
  <%= render partial: "users/new/ufooter" %>
</div>

<style type='text/css'>
.header, .footer-wrapper {
  display: none;
}
</style>
