<body class="item_show_wrap">
  <section class="item-box-container l-single-container">
    <h1 class="item-name">【美品】supreme ビーニー 迷彩 ニット帽</h1>
    <p class="item-wording">『【美品】supreme ビーニー 迷彩 ニット帽』は、470回の取引実績を持つ<a href="https://www.mercari.com/jp/u/202374949/">キャロット</a>さんから出品されました。<a href="https://www.mercari.com/jp/brand/1620/">シュプリーム</a>（<a href="https://www.mercari.com/jp/category/371/">ニットキャップ/ビーニー/メンズ</a>）の商品で、神奈川県から2~3日で発送されます。</p>
    <div class="item-main-content">
      <div class="item-photo">
        <div class="owl-carousel owl-loaded owl-drag">
          <div class="owl-stage-outer">
            <div class="owl-stage" style="left: 0px; width: 1500px;">
              <div class="owl-item active" style="width: 300px;">
                <div class="owl-item-inner is-higher-height">
                  <img alt="【美品】supreme ビーニー 迷彩 ニット帽" class="owl-lazy" src="https://static.mercdn.net/item/detail/orig/photos/m72019720622_1.jpg?1574782868" width="300" height="300">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-nav disabled">
          <div class="owl-prev">prev</div>
          <div class="owl-next">next</div>
        </div>
        <div class="owl-dots">
          <div class="owl-dot active"><span></span>
            <div class="owl-dot-inner">
              <img src="https://static.mercdn.net/item/detail/orig/photos/m72019720622_1.jpg?1574782868" class="is-higher-height" width="60" height="60">
            </div>
          </div>
          <div class="owl-dot"><span></span>
            <div class="owl-dot-inner">
              <img src="https://static.mercdn.net/item/detail/orig/photos/m72019720622_2.jpg?1574782868" class="is-higher-height" width="60" height="60">
            </div>
          </div>
          <div class="owl-dot"><span></span>
            <div class="owl-dot-inner">
              <img src="https://static.mercdn.net/item/detail/orig/photos/m72019720622_3.jpg?1574782868" class="is-higher-height" width="60" height="60">
            </div>
          </div>
          <div class="owl-dot"><span></span>
            <div class="owl-dot-inner">
              <img src="https://static.mercdn.net/item/detail/orig/photos/m72019720622_4.jpg?1574782868" class="is-higher-width" width="60" height="60">
            </div>
          </div>
          <div class="owl-dot"><span></span>
            <div class="owl-dot-inner">
              <img src="https://static.mercdn.net/item/detail/orig/photos/m72019720622_5.jpg?1574782868" class="is-higher-width" width="60" height="60">
            </div>
          </div>
        </div>
      </div>

      <section class="visible-sp">
        <div class="item-btn-float-area">
          <a class="item-buy-btn" href="https://www.mercari.com/jp/login/?login_callback=https%3A%2F%2Fwww.mercari.com%2Fjp%2Ftransaction%2Fbuy%2Fm72019720622%2F">
            購入画面に進む
          </a>
        </div>
      </section>
      <table class="item-detail-table">
        <tbody>
          <tr>
            <th>出品者</th>
            <td>
              <a href="https://www.mercari.com/jp/u/202374949/">キャロット</a>
              <div>
                <div class="item-user-ratings-good">
                  <i class="fas fa-laugh"></i>
                  <span>471</span>
                </div>
              <div class="item-user-ratings">
                  <i class="fas fa-meh"></i>
                  <span>7</span>
                </div>
              <div class="item-user-ratings">
                <i class="fas fa-frown"></i>
                  <span>1</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th>カテゴリー</th>
            <td>
              <a href="https://www.mercari.com/jp/category/2/">
                <div>メンズ
                </div>
              </a>
              <a href="https://www.mercari.com/jp/category/36/">
                <div class="item-detail-table-sub-category">
                  <i class="fa fa-angle-right"></i> 
                  帽子
                </div>
              </a>
              <a href="https://www.mercari.com/jp/category/371/">
                <div class="item-detail-table-sub-sub-category">
                  <i class="fa fa-angle-right"></i> 
                  ニットキャップ/ビーニー
                </div>
              </a>
            </td>
          </tr>
          <tr>
            <th>ブランド</th>
            <td>
              <a href="https://www.mercari.com/jp/brand/1620/">
                <div>
                シュプリーム
                </div>
              </a>
            </td>
          </tr>
          <tr>
            <th>商品の状態</th>
            <td>目立った傷や汚れなし</td>
          </tr>
          <tr>
            <th>配送料の負担</th>
            <td>送料込み(出品者負担)</td>
          </tr>
          <tr>
            <th>配送の方法</th>
            <td>ゆうゆうメルカリ便</td>
          </tr>
          <tr>
            <th>配送元地域</th>
            <td>
              <a href="https://www.mercari.com/jp/area/14/">神奈川県</a>
            </td>
          </tr>
          <tr>
            <th>発送日の目安</th>
            <td>2~3日で発送</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="item-price-box">
      <span class="item-price bold">¥5,900</span>
      <span class="item-tax"> (税込)</span>
      <span class="item-shipping-fee">送料込み</span>
    </div>

    <a class="item-buy-btn" href="">
      購入画面に進む
    </a>
    <p class="shipping-not-allowed-message has-error-text text-center">
      この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
    </p>
    <a class=" item-action-text" data-toggle="open-app" data-url-scheme="mercari://" data-action="item/openDetail" data-key="id=m72019720622" data-play-id="com.kouzoh.mercari" data-adjust-url="http://app.adjust.io/xio2ii?campaign=iOS&amp;adgroup=items.buy_button1">
      アプリで購入
    </a>
              
    <div class="item-description">
      <p class="item-description-inner">supremeのオンラインサイトにて購入しました。
正規品です。
数回着用しました。目立つ汚れ等や使用感はなく美品です。

ご心配な方は私が過去のsupreme商品の内容をご参照ください。すべて納品書がある旨を画像と共に記載しています。


#supreme
#ビーニー
#迷彩</p>
    </div>
    <div class="item-button-container">
      <div class="item-button-left">
        <a href="" class="item-button item-button-like">
            <i class="far fa-heart"></i>
          <span>いいね!</span>
          <span data-num="like">1</span>
        </a>
        <a href="" class="item-button item-button-report clearfix">
          <i class="far fa-flag"></i>
          <span>不適切な商品の報告</span>
        </a>
      </div>
      <div class="item-button-right">
        <a href="" target="_blank">
            <i class="fas fa-lock"></i>
          <span>あんしん・あんぜんへの取り組み</span>
        </a>
      </div>
    </div>
  </section>

  <div class="contents row">
  <div class="container">
    <% if user_signed_in? && current_user.id == @item.user_id %>
      <div class="more">
        <ul class="more_list">
          <li>
            <%= link_to '編集', "/items/#{@item.id}/edit", method: :get %>
          </li>
      <% end %>
      
    </h3>
  </div>
</div>
</body>