.footer-wrapper {
  width: 100vw;
  position: relative; 


h2 {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;

}

li {
  margin: 16px 0 0 0;
}

a {
  font-size: 12px;
  color: #ffffff;
}

small {
  color: #ffffff;
}

.mercari {
  width: 100%;
  height: 300px;
}  

aside {
  width: 100%;
  height: 260px;
  background-color: burlywood;
  .app-banner {
    overflow: hidden;
    position: relative;
    width: 750px;
    height: 260px;
    margin: 0 auto;
    &__inner {
      position: absolute;
      top: 50%;
      left: 16px;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      h2 {

      }
      p {
        color: #ffffff;
        font-size: 24px;
        margin: 10px 0 0;
      }
      .app-banner__icon {  
        display: flex;
        justify-content: center;
        align-items: center;
      }   
    }
    .sample {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 300px;
      height: 100%;
    }
  }

}

footer {
  width: calc(100% - 40px);
  background-color: #212121;
  position: relative;
  bottom: 0;
  padding: 0 20px 10px;
  nav {
    margin: 0 auto;
    width: calc(100% - 360px);
    div {
      display: inline-block;
      vertical-align:  top;
      margin: 18px 0 0;
      padding: 0 10px 0 0;

    }
  }
  .mercari_logo {
    color: #ffffff;
    margin: 30px auto 20px;
    span.footer-copyright {
      display: inline-block;
      margin: 8px 0 0;
      text-align: center;

    }
  }
}
}