.body{
  background: rgb(245, 245, 245);
}
.sign-header{
  width:100%;
  height:128px;
  background: rgb(245, 245, 245);
}
.sign-merkari-icon{
  text-align: center;
  line-height:130px;
}

.sign-merkari-icon-logo{
  height:49px;
  width:185px;
}

.sign-main{
  height:calc(100vh - 128px - 220px);
  background: rgb(245, 245, 245);
}

.sign-content{
  text-align: center;
}

.sign-main-contents{
  background-color: white;
  width:700px;
  margin:0 auto;
  height:calc(100vh - 128px - 220px);
}

.sign-contents-font {
  font-size:22px;
  padding:32px;
  text-align:center;
  font-weight:bold;
}

.sign-content-list{
  width:343px;
  margin:0 auto;
}

.email-box{
  background-color: red;
  border:#979797 solid 1px;
  border-radius:4px;
  cursor:pointer;
  text-align:center;
  display:block;
  line-height:48px;
  color:white;
  margin:15px 0;
}
.facebook-box{
  background-color: #385185;
  border:#979797 solid 1px;
  border-radius:4px;
  cursor:pointer;
  text-align:center;
  display:block;
  line-height:48px;
  color:white;
  margin:15px 0;

}
.google-box{
  border:#979797 solid 1px;
  border-radius:4px;
  cursor:pointer;
  text-align:center;
  display:block;
  line-height:48px;
  margin:15px 0;

}

.footer{
  height:220px;
  background: rgb(245, 245, 245);
}