<div class="brand_index_wrap" style="background-color: rgb(239, 239, 239);">
<div class="brands_wrapper">
<section>
  <h3>ブランド一覧</h3>
  <div class="brand_categories">
  <%@brand_cats.each do |bc|%>
    <a href="#"><div class="brand_cat">
      <%=bc.name%>
    </div></a>
  <%end%>
  </div>
</section>
<div class="brand_index">
  <span><a href="#">ア</a></span>
  <span>|</span>
  <span>イ</span>
  <span>|</span>
  <span>ア</span>
  <span>|</span>
  <span>イ</span>
  <span>|</span>
  <span>ア</span>
  <span>|</span>
  <span>イ</span>
  <span>|</span>
  <span>ア</span>
  <span>|</span>
  <span>イ</span>
  <span>|</span>
  <span>ア</span>
  <span>|</span>
  <span>イ</span>
  <span>|</span><span>ア</span>
  <span>|</span>
  <span>イ</span>
  <span>|</span>
  <span>ア</span>
  <span>|</span>
  <span>イ</span>
  <span>|</span>
  <span>ア</span>
  <span>|</span>
  <span>イ</span>
  <span>|</span>
  <span>ア</span>
  <span>|</span>
  <span>イ</span>
  <span>|</span>
  <span>ア</span>
  <span>|</span>
  <span>イ</span>
  <span>|</span><span>ア</span>
  <span>|</span>
  <span>イ</span>
  <span>|</span>
  <span>ア</span>
  <span>|</span>
  <span>イ</span>
  <span>|</span>
  <span>ア</span>
  <span>|</span>
  <span>イ</span>
  <span>|</span>
  <span>ア</span>
  <span>|</span>
  <span>イ</span>
  <span>|</span>
  <span>ア</span>
  <span>|</span>
  <span>イ</span>
  <span>|</span>
</div> <!-- brand_index end-->
<div class="brands">
<h3>レディース</h3>
<section>
  <h4>ア</h4>
  <div class="common_initial_brands">
    <a href="#"><div class="brand_name">アー ヴェ ヴェ</div></a>
    <div class="brand_name">アー ヴェ ヴェ</div>
    <div class="brand_name">アー ヴェ ヴェ</div>
    <div class="brand_name">アー ヴェ ヴェ</div>
  </div>
</section>
<section>
  <h4>ア</h4>
  <div class="common_initial_brands">
    <a href="#"><div class="brand_name">アー ヴェ ヴェ</div></a>
    <div class="brand_name">アー ヴェ ヴェ</div>
    <div class="brand_name">アー ヴェ ヴェ</div>
    <div class="brand_name">アー ヴェ ヴェ</div>
  </div>
</section>
</div>
</div>
</div>

