
<div class="brand_index_wrap" style="background-color: rgb(239, 239, 239);">
  <div class="brands_wrapper">
    <section class="brand_show_wrapper">
      <h3><%=@category.parent.parent.name%>/<%=@category.parent.name%>/
        <br><%=@category.name%>の商品一覧
      </h3>
      <div class="brand_categories">
        <section class="card-section">
          <ul class="card-list">
            <%= render @category.items, partial: 'items/items_index'%>
            
          </ul>
        </section>
      </div>
    </section>
  </div>
</div>

<style>
.card-list {
  display: flex;
  flex-wrap: wrap;
}
li.card-item {
  margin: 10px 10px 20px 0;
  border: solid 1px #cccccc;
  background-color: white;
}
li.card-item img{
  width: 122px;
  height: 122px;
}
</style>