<div class="footer-wrapper">
  <aside class="banner">
    <div class="app-banner">
      <div class="app-banner__inner">     
        <h2>"スマホで簡単フリマアプリ" </h2>
        <p>今すぐ無料ダウンロード</p>
        <div class="app-banner__icon">       
          <img src="/images/mercari_icon.png" width="68" height="68"> 
          <a href="">
            <img src="/images/app-store.svg" width="133">  
          </a> 
          <a href="">
            <img src="/images/google-play.svg" width="133">  
          </a>  
        </div>
      </div>
      <div class="sample">
        <img src="/images/download_content_pc.png" width="300" height="260" >  
      </div>
    </div>
  </aside>

  <footer class="a_footer">
    <nav class="footer_nav">
      <div class="about">
        <h2>メルカリについて</h2>
        <ul>
          <li>
            <a>会社情報（運営会社）</a>
          </li>
          <li>
            <a>採用情報</a>
          </li>
          <li>
            <a>プレスリリース</a>
          </li>
          <li>
            <a>公式ブログ</a>
          </li>
          <li>
            <a>メルカリロゴ利用ガイドライン</a>
          </li>
        </ul>
      </div>
      <div class="help">
        <h2>ヘルプ＆ガイド</h2>
        <ul>
          <li>
            <a>メルカリガイド</a>
          </li>
          <li>
            <a>らくらくメルカリ便</a>
          </li>
          <li>
            <a>ゆうゆうメルカリ便</a>
          </li>
          <li>
            <a>大型メルカリ便</a>
          </li>
          <li>
            <a>車体取引ガイド</a>
          </li>
          <li>
            <a>メルカリあんしん・あんぜん宣言！</a>
          </li>
          <li>
            <a>偽ブランド品撲滅宣言</a>
          </li>
          <li>
            <a>メルカリボックス</a>
          </li>
        </ul>
      </div>
      <div class="privacy">
        <h2>プライバシーと利用規約</h2> 
        <ul>
          <li>
            <a>プライバシーポリシー</a>
          </li>
          <li>
            <a>メルカリ利用規約</a>
          </li>
          <li>
            <a>あんしんスマホサポート制度に関する利用規約</a>
          </li>
          <li>
            <a>コンプライアンスポリシー</a>
          </li>
        </ul>
      </div> 
      <div class="privacy2">  
        <ul>
          <li>
            <a>個人データの安全管理に係る基本方針</a>
          </li>
          <li>
            <a>特定商取引に関する表記</a>
          </li>
          <li>
            <a>資金決済法に基づく表示</a>
          </li>
          <li>
            <a>法令遵守と犯罪抑止のために</a>
          </li>
        </ul>
      </div>
      <div class="country">
        <h2>国</h2>
        <ul>
          <li>
            <a>日本</a>
            <a>United States</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="mercari_logo">
      <a>
        <img src="/images/logo-white.svg" alt="mercari" width="124">
      </a>
      <span class="footer-copyright">
        <small>@2019 Mercari</small>
      </span>
    </div>
  </footer>
</div>
